@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans|Montserrat:400,700);

html{
	border: none;
}
body{
	margin: 0px;
}
body .header{
	background: none;
	padding-top: 15px;
	height: 150px;
	box-sizing:border-box;
}
#logo{
	display:block;
	float:left;
}
#block-system-main-menu{
	margin-left: 15px;
	margin-top: 50px;
	float: right;
}
.header .menu li{
	display: inline-block;
	padding: 0px; margin: 0px;
	float:left;
}
.header .menu li a{
	min-height: 55px;
	margin-right: 0px;
	padding: 10px 8px;
	padding-bottom: 0px;
	border: 2px solid white;
	-webkit-transition: all 550ms ease;
	transition: all 550ms ease;
	font-family: Montserrat, sans-serif;
	color: #404041;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	max-width: 100px;
}
.header .menu li a:hover {
  border: 2px solid #099dad;
}
.front .main-content{
	max-width: 1280px;
}
.front .main-content .panel-pane{
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.front .main-content .pane-views-slider-block{
	max-width: 1280px !important;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb .crumbs-separator{
	color: #909295;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	padding: 20px 0px;
	text-decoration: none;
}


/*SLIDER*/

.flexslider{
	margin: 0px;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;	
}

.front .flex-caption{
	position: absolute;
	width: 760px;
	top: 30%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	background-image: url('../images/bg_caption.png');
	background-repeat: repeat;
	padding: 25px 0px 35px 0px;
	
}
.front .flex-caption .caption-cuadro-texto{
	background: rgba(0,157,173,.6);
	-webkit-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	transform:skewX(-20deg);
	padding: 20px 50px;
}
.front .flex-caption .caption-cuadro-texto .cap-content{
	-webkit-transform:skewX(20deg);
	-moz-transform:skewX(20deg);
	-ms-transform:skewX(20deg);
	-o-transform:skewX(20deg);
	transform:skewX(20deg);
}
.front .flex-caption .caption-cuadro-texto .cap-content h3 p{
	font-family: Montserrat, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: normal;
	color: white;
}
.front .flex-caption .caption-cuadro-texto .cap-content h3 p strong{
	font-weight: bold;
}
.front .flex-caption .caption-cuadro-texto .cap-content p{
	font-family: Roboto, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: white;	
}
.front .flex-caption .caption-boton a{
	display:block;
	width: 215px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 13px 0px;
	border: 3px solid white;
	border-radius: 4px;
	font-family: Montserrat, sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background: rgba(0,0,0,0.4);
  
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;   
}
.front .flex-caption .caption-boton a:hover{
	background: rgba(0,0,0,0.4);
	transform: scale(1.07,1.07);
	-webkit-transform: scale(1.07,1.07);
}
.front .flex-control-paging{
	display: none;
}
.front .flex-direction-nav{
	/*width: 1000px;
	margin: 0 auto;
	position: absolute;
	margin-top: -90px;
	right: 0px;
	left: 0px;*/
}
.front .flex-direction-nav li a{
	width: 55px;
	height: 70px;
	overflow:hidden; 
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.front .flex-direction-nav li a:before{
  content: '';
  margin-left: 100px;
  height: 70px;	
}

.front .flex-direction-nav a.flex-prev{
	background-image: url('../images/prev.png');
}
.front .flex-direction-nav a.flex-next{
	background-image: url('../images/next.png');
}


/*********/




/*ACTUALIDAD HOME*/
h2{
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
}

.view-blog{
	padding: 30px 0px 60px 0px;
	overflow: hidden;
}
.view-blog .view-content{
}
.view-blog .view-content .views-row{
	display: inline-block;
	float:left;
	width: 300px;
	margin-right: 50px;
}
.view-blog .view-content .views-row.views-row-last{
	margin-right: 0px;
}
.view-blog .view-content .views-row .views-field-title a{
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 17px;	
	color: #404041;
	text-decoration: none;
	line-height: 60px;
}
.view-blog .view-content .views-row .views-field-body div{
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #404041;	
	margin-bottom: 40px;
}
.view-blog .view-content .views-row .views-field-path a{
	padding: 8px 35px;
	border: 3px solid #EEB91C;
	font-family: Montserrat, sans-serif;
	color: #EEB91C;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}


h2.amarillo{
	color: #EFB81C;
	margin-bottom: 40px;
}



.linea{
  display:table;
  position: relative;
  padding: 10px;
  width: 100%;

}
 
.linea:after {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: #EFB81C;
  content: " ";
  float:left;
  top: 50%;
  margin: 0px 215px;
}

/* FOOTER */
.footer{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #404041;
}
.footer .col-1-3{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.footer .footer-left-col .menu{
	margin: 0px; padding: 0px;
}
.footer .footer-left-col .menu li{
	list-style: none; margin: 0px; padding: 0px;
}
.footer .footer-left-col .menu li a{
	padding-bottom: 15px;
	float: left;
	clear: both;
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	max-width: 200px;	
}

.footer h3{
	margin-top: 0px;
	color: #A6A8AB;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}
.footer h3.blanco{
	color: #FFF;
}
.footer p,
.footer p a{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
	line-height: 18px;
}
.footer-direccion{
	padding-left: 45px;
	background-image: url('../images/marca_mapa.png');
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 25px;
	float:left;
}
.footer-direccion p{
	font-weight: normal;
}
.footer-cotizaciones-boton{
	clear:both; float:left;
}
.footer-cotizaciones-boton a{
	padding: 10px;
	border: 3px solid white;
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;	
}
.footer-redes{
	float:left;
	clear:both;
	width: 100%;
	margin-bottom: 15px	
}
.footer-redes a{
	display:block;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	margin-left: 5px;
}
.footer-redes .footer-fb{
	background-image: url('../images/fb.png');
}
.footer-redes .footer-tw{
	background-image: url('../images/tw.png');
}
.footer-redes .footer-yt{
	background-image: url('../images/yb.png');
}
.footer-redes .footer-li{
	background-image: url('../images/in.png');
}
.footer input{
	border: 0px solid black;
	height: 35px;
	background-color: #5e5f61;
	font-family: Roboto, sans-serif;
	color: #b7b9bb;
	font-size: 14px;
	font-weight: 400;
	padding-left: 15px;	
}