@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans|Montserrat:400,700);

html{
	border: none;
}
body{
	margin: 0px;
}
body .header{
	background: none;
	padding-top: 15px;
	height: 150px;
	box-sizing:border-box;
}
#logo{
	display:block;
	float:left;
}
#block-system-main-menu{
	margin-left: 15px;
	margin-top: 50px;
	float: right;
}
.header .menu li{
	display: inline-block;
	padding: 0px; margin: 0px;
	float:left;
}
.header .menu li a{
	min-height: 55px;
	margin-right: 0px;
	padding: 10px 8px;
	padding-bottom: 0px;
	border: 2px solid white;
	-webkit-transition: all 550ms ease;
	transition: all 550ms ease;
	font-family: Montserrat, sans-serif;
	color: #404041;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	max-width: 100px;
}
.header .menu li a:hover {
  border: 2px solid #099dad;
}
.front .main-content{
	max-width: 100%;
}
/*.front .main-content .panel-pane .pane-content*/
.grid-1000{
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.front .main-content .pane-views-slider-block .pane-content,
.grid-1280{
	max-width: 1280px !important;
	margin: 0 auto;
	overflow: hidden;	
}

.breadcrumb,
.breadcrumb a,
.breadcrumb .crumbs-separator{
	color: #909295;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	padding: 20px 0px;
	text-decoration: none;
}


/*SLIDER*/

.flexslider{
	margin: 0px;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;	
}

.front .flex-caption{
	position: absolute;
	width: 760px;
	top: 30%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	background-image: url('../images/bg_caption.png');
	background-repeat: repeat;
	padding: 25px 0px 35px 0px;
	
}
.front .flex-caption .caption-cuadro-texto{
	background: rgba(0,157,173,.8);
	-webkit-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	transform:skewX(-20deg);
	padding: 20px 50px;
}
.front .flex-caption .caption-cuadro-texto .cap-content{
	-webkit-transform:skewX(20deg);
	-moz-transform:skewX(20deg);
	-ms-transform:skewX(20deg);
	-o-transform:skewX(20deg);
	transform:skewX(20deg);
}
.front .flex-caption .caption-cuadro-texto .cap-content h3{
	margin: 0px;
}
.front .flex-caption .caption-cuadro-texto .cap-content h3 p{
	font-family: Montserrat, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: normal;
	color: white;
	margin: 0px;
}
.front .flex-caption .caption-cuadro-texto .cap-content h3 p strong{
	font-weight: bold;
}
.front .flex-caption .caption-cuadro-texto .cap-content p{
	font-family: Roboto, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: white;
	margin: 15px 0;	
}
.front .flex-caption .caption-boton a{
	display:block;
	width: 215px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 13px 0px;
	border: 3px solid white;
	border-radius: 4px;
	font-family: Montserrat, sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background: rgba(0,0,0,0.4);
  
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;   
}
.front .flex-caption .caption-boton a:hover{
	transform: scale(1.07,1.07);
	-webkit-transform: scale(1.07,1.07);
}
.front .flex-control-paging{
	display: none;
}
.front .flex-direction-nav li a{
	width: 55px;
	height: 70px;
	overflow:hidden; 
	top: 47%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.front .flex-direction-nav li a:before{
  content: '';
  margin-left: 100px;
  height: 70px;	
}

.front .flex-direction-nav a.flex-prev{
	background-image: url('../images/prev.png');
}
.front .flex-direction-nav a.flex-next{
	background-image: url('../images/next.png');
}
/*********/

/* ISLAS HOME */ 
.pane-block-4{
	padding-bottom: 60px;
}
.pane-block h2{
	color: #404041;
	text-align:center;
	line-height: 65px;
	font-weight: normal;		
}
.areas-home {
  width: 100%;
}
.areas-home-col {
  width: 33%;
  float: left;
  min-height: 465px;
  position: relative;  
}
.ico {
  display: block;
  width: 165px;
  height: 165px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.ico.ico-areas-metales {
  background-image: url('../images/icon_metales.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.ico.ico-areas-impre {
  background-image: url('../images/icon_impresion.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.ico.ico-areas-repu {
  background-image: url('../images/icon_repuestos.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.areas-home-col h3 {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #099dad;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  height: 27px;
}
.areas-home-col p {
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  color: #404041;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  padding: 0px 15px;
  margin: 0px;
}
.areas-home-col p a{
  display: block;
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  border: 4px solid #099dad;
  font-family: Montserrat, sans-serif;
  color: #099dad;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;  
}

/**************/
.pane-block{
	
}
.pane-block-5{
	padding-bottom: 40px;
	background-color: #EDEDEE;
	background-image: url(../images/bg_especialistas_home.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.pane-block-5 .home-especialistas{

}
.pane-block-5 .home-especialistas .col-1-2{
	width: 435px;
	float:left;
}
.pane-block-5 .home-especialistas .col-1-2-2{
	float:right;
}
.pane-block-5 .home-especialistas h3{
	color: #038CA8;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: normal;	
	text-transform:uppercase;

}
.pane-block-5 .home-especialistas p{
	font-family: Roboto, sans-serif;
	color: #404041;
	font-size: 17px;
	font-weight: 300;	
}

.pane-block-6{
	padding-top:20px;
	padding-bottom: 40px;
	background-color: #EFB81C;
	background-image: url(../images/bg_cualidades_home.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.pane-block-6 h2{
	color: #FFF;
}

.home-cualidades{
	overflow:hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-cualidades .col-1-3{
	width: 280px;
	min-height: 45px;
	float:left;
	padding-left: 65px;
	background-image: url(../images/icon_cualidades.png);
	background-repeat: no-repeat;
	background-position: left top;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	color: #FFF;
	font-size: 19px;
	line-height: 20px;
	font-weight: 500;
	margin-right: 85px;	
}
.home-cualidades .col-1-3 p{
	margin: 0px;
}

.home-cualidades .home-cualidades-3{
	width: 220px;
	margin-right: 0px;
}

.lineas{
  display:table;
  position: relative;
  padding: 10px;
  width: 100%;
  margin:auto;
}
 
.lineas:before,
.lineas:after {
  position: absolute;
  top: 50%;
  left: 0px; /*-20*/
  display: block;
  height: 4px;
  width: 30%;
  background: #FFF;
  content: " ";
}
.lineas:after {
  left: auto;
  right: 0px; /*-20*/
}

.pane-block-7{
	background-color: #009DAD;
	padding: 10px 0px;
}
.pane-block-7 .llamado-texto p{
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	color: #FFF;
	float:left;	
}
.pane-block-7 .llamado-boton a{
	padding: 13px 23px;
	border: 4px solid #FFF;
	font-family: Montserrat, sans-serif;
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	float:right;
	margin-top: 21px;	
}

.pane-block-8{
	padding: 40px 0px 0px 0px;
}
.home-historia-exito{
	overflow:hidden;
	background-color: #EDEDEE;
}
.home-historia-exito-imagen{
	float:left;
}
.home-historia-exito-texto{
	width: 450px;
	float:left;
	margin-left: 40px;
}
.home-historia-exito-texto h3{
	color: #404041;
	font-family: Montserrat, sans-serif;
	font-size: 23px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 18px;
	text-transform: uppercase;	
}
.home-historia-exito-texto p{
	font-family: Roboto, sans-serif;
	color: #404041;
	font-size: 17px;
	font-weight: 300;	
}
.home-historia-exito-texto p a{
	padding: 10px 20px;
	border: 4px solid #009DAD;
	font-family: Montserrat, sans-serif;
	color: #009DAD;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	float:left;
	margin-top: 23px;	
}


.home-pioneros{
	overflow:hidden;
	background-color: #F5F5F6;
	margin-top: 30px;
}
.home-pioneros-exito-texto{
	float:left;
	width: 450px;
	margin-left: 150px;
}
.home-pioneros-exito-texto h3{
	color: #404041;
	font-family: Montserrat, sans-serif;
	font-size: 23px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 18px;
	text-transform: uppercase;	
}
.home-pioneros-exito-texto p{
	font-family: Roboto, sans-serif;
	color: #404041;
	font-size: 17px;
	font-weight: 300;	
}
.home-pioneros-imagen{
	float:right;
}

/*ACTUALIDAD HOME*/
h2{
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
}

.view-blog{
	padding: 0px 0px 60px 0px;
	overflow: hidden;
}
.view-blog .view-content{
}
.view-blog .view-content .views-row{
	display: inline-block;
	float:left;
	width: 300px;
	margin-right: 50px;
}
.view-blog .view-content .views-row.views-row-last{
	margin-right: 0px;
}
.view-blog .view-content .views-row .views-field-title a{
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 17px;	
	color: #404041;
	text-decoration: none;
	line-height: 60px;
}
.view-blog .view-content .views-row .views-field-body div{
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #404041;	
	margin-bottom: 40px;
}
.view-blog .view-content .views-row .views-field-path a{
	padding: 13px 40px;
	border: 4px solid #EEB91C;
	font-family: Montserrat, sans-serif;
	color: #EEB91C;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}


h2.amarillo{
	color: #EFB81C;
	margin-bottom: 40px;
	text-align:left;
}



.linea{
  display:table;
  position: relative;
  padding: 10px;
  width: 100%;

}
 
.linea:after {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: #EFB81C;
  content: " ";
  float:left;
  top: 50%;
  margin: 0px 215px;
}

/* FOOTER */
.footer{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #404041;
}
.footer .col-1-3{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.footer .footer-left-col .menu{
	margin: 0px; padding: 0px;
}
.footer .footer-left-col .menu li{
	list-style: none; margin: 0px; padding: 0px;
}
.footer .footer-left-col .menu li a{
	padding-bottom: 15px;
	float: left;
	clear: both;
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	max-width: 200px;	
}

.footer h3{
	margin-top: 0px;
	color: #A6A8AB;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}
.footer h3.blanco{
	color: #FFF;
}
.footer p,
.footer p a{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
	line-height: 18px;
}
.footer-direccion{
	padding-left: 45px;
	background-image: url('../images/marca_mapa.png');
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 25px;
	float:left;
}
.footer-direccion p{
	font-weight: normal;
}
.footer-cotizaciones-boton{
	clear:both; float:left;
}
.footer-cotizaciones-boton a{
	padding: 10px;
	border: 3px solid white;
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;	
}
.footer-redes{
	float:left;
	clear:both;
	width: 100%;
	margin-bottom: 15px	
}
.footer-redes a{
	display:block;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	margin-left: 5px;
}
.footer-redes .footer-fb{
	background-image: url('../images/fb.png');
}
.footer-redes .footer-tw{
	background-image: url('../images/tw.png');
}
.footer-redes .footer-yt{
	background-image: url('../images/yb.png');
}
.footer-redes .footer-li{
	background-image: url('../images/in.png');
}
.footer input{
	border: 0px solid black;
	height: 35px;
	background-color: #5e5f61;
	font-family: Roboto, sans-serif;
	color: #b7b9bb;
	font-size: 14px;
	font-weight: 400;
	padding-left: 15px;	
}